<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="main">

        <f:render partial="FlashMessages"  />
        <f:render partial="FormErrors" arguments="{object:Standard}" />

        <f:form action="create" enctype="multipart/form-data" name="standardForm" object="{standardForm}" >
            <div class="flex-container">
                <div class="flex-basis-8 full-width-medium">
                    <div class="form flex space-between">

                        <f:render partial="Forms/Standard" />

                        <f:render partial="FormFields/Privacy" />

                        <f:render partial="CaptchaElement" />

                        <f:render partial="FormFields/Submit" />

                        </div>
                    </div>
                </div>
        </f:form>
    </f:section>
</html>