
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwForm="http://typo3.org/ns/RKW/RkwForm/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="v320-1">
        <label class="form-label" for="tx-rkwform-company">
            <f:translate key="tx_rkwform_domain_model_standardform.company" />
            <f:if condition="<rkwForm:isMandatoryField fieldName='company' mandatoryFields='{settings.mandatoryFields.standard}' />">
                <span class="optional">&nbsp;<f:translate key="tx_rkwform_domain_model_standardform.labelOptional" /></span>
            </f:if>
        </label>
        <f:form.textfield
            id="tx-rkwform-company"
            property="company"
            value="{standard.company}"
        />
    </div>

</html>