<f:comment>
    <!--
    @param $rows How many rows the textarea should have. Default is "2"
    -->
</f:comment>

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwForm="http://typo3.org/ns/RKW/RkwForm/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="v320-1">
        <label class="form-label" for="tx-rkwform-text">
            <f:translate key="tx_rkwform_domain_model_standardform.text" />
            <f:if condition="<rkwForm:isMandatoryField fieldName='text' mandatoryFields='{settings.mandatoryFields.standard}' />">
                <span class="optional">&nbsp;<f:translate key="tx_rkwform_domain_model_standardform.labelOptional" /></span>
            </f:if>
        </label>
        <f:form.textarea
            id="tx-rkwform-text"
            property="text"
            value="{standard.text}"
            rows="{f:if(condition: '{rows}', then: '{rows}', else: '2')}"
        />
    </div>

</html>