<f:comment>
    <!--
    @param $width The width of the field. Default is "width100", "width50" is also possible
    @use arguments="{cssClass: 'width50', mandatoryFields: 'firstName, lastName'}"
    -->
</f:comment>

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwForm="http://typo3.org/ns/RKW/RkwForm/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <div class="form__field {f:if(condition: '{cssClass}', then: '{cssClass}', else: 'width100')}">
        <label for="tx-rkwform-title" >
            <f:translate key="tx_rkwform_domain_model_standardform.title" />
            <f:render partial="LabelSuffix" arguments="{field: 'title', mandatoryFields: mandatoryFields}" />
        </label>
        <f:form.select
            class="select-field"
            id="tx-rkwform-title"
            property="title"
            options="<feRegister:titleList />"
            optionValueField="uid"
            optionLabelField="name"
            prependOptionValue="0"
            prependOptionLabel="{f:translate(key:'tx_rkwform_domain_model_standardform.title.I.pleaseSelect')}"
        />
    </div>

</html>