<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwForm="http://typo3.org/ns/RKW/RkwForm/ViewHelpers"
    xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <div class="v320-1">
        <label class="form-label" for="tx-rkwform-title" >
            <f:translate key="tx_rkwform_domain_model_standardform.title" />
            <f:if condition="<rkwForm:isMandatoryField fieldName='title' mandatoryFields='{settings.mandatoryFields.standard}' />">
                <span class="optional">&nbsp;<f:translate key="tx_rkwform_domain_model_standardform.labelOptional" /></span>
            </f:if>
        </label>
        <f:form.select
            id="tx-rkwform-title"
            property="title"
            options="<rkwRegistration:titleList />"
            optionValueField="uid"
            optionLabelField="name"
            prependOptionValue="0"
            prependOptionLabel="{f:translate(key:'tx_rkwform_domain_model_standardform.title.I.pleaseSelect')}"
        />
    </div>

</html>