
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwForm="http://typo3.org/ns/RKW/RkwForm/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:render partial="FormFields/Salutation" arguments="{cssClass: 'width50', mandatoryFields: settings.mandatoryFields.standard}"/>

    <f:render partial="FormFields/Title" arguments="{cssClass: 'width50', mandatoryFields: settings.mandatoryFields.standard}"/>

    <f:render partial="FormFields/FirstName" arguments="{cssClass: 'width50', mandatoryFields: settings.mandatoryFields.standard}"/>

    <f:render partial="FormFields/LastName" arguments="{cssClass: 'width50', mandatoryFields: settings.mandatoryFields.standard}"/>

    <f:render partial="FormFields/Company" arguments="{cssClass: 'width50', mandatoryFields: settings.mandatoryFields.standard}"/>

    <f:render partial="FormFields/Email" arguments="{cssClass: 'width50', mandatoryFields: settings.mandatoryFields.standard}"/>

    <f:render partial="FormFields/Phone" arguments="{cssClass: 'width50', mandatoryFields: settings.mandatoryFields.standard}"/>

    <f:render partial="FormFields/Text" arguments="{cssClass: 'width100', mandatoryFields: settings.mandatoryFields.standard}"/>

</html>