<f:comment>
    <!--
    @param $field The field to check if is required or optional
    @use arguments="{field: 'firstName', mandatoryFields: 'firstName, lastName'}"
    -->
</f:comment>

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwForm="http://typo3.org/ns/RKW/RkwForm/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="<rkwForm:isMandatoryField fieldName='{field}' mandatoryFields='{mandatoryFields}' />">
        <f:then>
            <span class="is-optional"><f:translate key="tx_rkwform_domain_model_standardform.labelOptional" /></span>
        </f:then>
        <f:else>
            <span class="is-required"><f:translate key="tx_rkwform_domain_model_standardform.labelRequired" /></span>
        </f:else>
    </f:if>
</html>
