<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="form__field width100">
        <f:form.checkbox class="checkbox" id="privacy" name="privacy" value="1" />
        <label for="privacy" class="checkbox-label">
            Die <f:link.page pageUid="1921" target="_blank">Datenschutzerklärung</f:link.page> habe ich gelesen und verstanden.
        </label>
    </div>

</html>


