{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.salutation" languageKey="{language}" extensionName="rkwForm"/>: <f:if condition="{formRequest.salutation} < 99"><rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.salutation.I.{formRequest.salutation}" languageKey="{language}" extensionName="rkwForm"/></f:if>
<f:if condition="{formRequest.identifier} === 'gem-community'">
    <f:then>
        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.title" languageKey="{language}" extensionName="rkwForm"/>: <f:if condition="{formRequest.title}">{formRequest.title.name}</f:if>
    </f:then>
</f:if>
<rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.first_name" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.firstName}
<rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.last_name" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.lastName}
<rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.company" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.company}
<rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.email" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.email}
<rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.phone" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.phone}
<f:if condition="{formRequest.identifier} === 'gem-community'">
    <f:then>
        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.title" languageKey="{language}" extensionName="rkwForm"/>: <f:if condition="{formRequest.title}">{formRequest.title.name}</f:if>
        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.street" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.street}
        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.postal" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.postal}
        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.city" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.city}
        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.topic" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.topic}
    </f:then>
    <f:else><rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.text" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.text}</f:else>
</f:if>
<f:if condition="{formRequest.bstAgree}"><f:render partial="Email/Details/BstForm" section="Plaintext" arguments="{_all}"/></f:if>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<table class="colored-table" >
        <tr>
            <th style="width:100px" class="align-left">
                <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.salutation" languageKey="{language}" extensionName="rkwForm"/>:
            </th>
            <td>
                <f:if condition="{formRequest.salutation} < 99"><rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.salutation.I.{formRequest.salutation}" languageKey="{language}" extensionName="rkwForm"/></f:if>
            </td>
        </tr>
        <f:if condition="{formRequest.identifier} === 'gem-community'">
            <f:then>
                <tr>
                    <th class="align-left">
                        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.title" languageKey="{language}" extensionName="rkwForm"/>:
                    </th>
                    <td>
                        <f:if condition="{formRequest.title}">{formRequest.title.name}</f:if>
                    </td>
                </tr>
            </f:then>
        </f:if>
        <tr>
            <th class="align-left">
                <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.first_name" languageKey="{language}" extensionName="rkwForm"/>:
            </th>
            <td>
                {formRequest.firstName}
            </td>
        </tr>
        <tr>
            <th class="align-left">
                <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.last_name" languageKey="{language}" extensionName="rkwForm"/>:
            </th>
            <td>
                {formRequest.lastName}
            </td>
        </tr>
        <tr>
            <th class="align-left">
                <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.company" languageKey="{language}" extensionName="rkwForm"/>:
            </th>
            <td>
                {formRequest.company}
            </td>
        </tr>
        <tr>
            <th class="align-left">
                <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.email" languageKey="{language}" extensionName="rkwForm"/>:
            </th>
            <td>
                {formRequest.email}
            </td>
        </tr>
        <tr>
            <th class="align-left">
                <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.phone" languageKey="{language}" extensionName="rkwForm"/>:
            </th>
            <td>
                {formRequest.phone}
            </td>
        </tr>
        <f:if condition="{formRequest.identifier} === 'gem-community'">
            <f:then>
                <tr>
                    <th class="align-left">
                        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.street" languageKey="{language}" extensionName="rkwForm"/>:
                    </th>
                    <td>
                        {formRequest.street}
                    </td>
                </tr>
                <tr>
                    <th class="align-left">
                        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.postal" languageKey="{language}" extensionName="rkwForm"/>:
                    </th>
                    <td>
                        {formRequest.postal}
                    </td>
                </tr>
                <tr>
                    <th class="align-left">
                        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.city" languageKey="{language}" extensionName="rkwForm"/>:
                    </th>
                    <td>
                        {formRequest.city}
                    </td>
                </tr>
                <tr>
                    <th class="align-left">
                        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.topic" languageKey="{language}" extensionName="rkwForm"/>:
                    </th>
                    <td>
                        {formRequest.topic}
                    </td>
                </tr>
            </f:then>
            <f:else>
                <tr>
                    <th class="align-left">
                        <rkwMailer:frontend.translate key="tx_rkwform_domain_model_standardform.text" languageKey="{language}" extensionName="rkwForm"/>:
                    </th>
                    <td>
                        <f:format.nl2br>{formRequest.text}</f:format.nl2br>
                    </td>
                </tr>
            </f:else>
        </f:if>
        <f:if condition="{formRequest.bstAgree}"><f:render partial="Email/Details/BstForm" section="Html" arguments="{_all}"/></f:if>
    </table>


</f:section>
