{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.translate key="partials_bstForm_formFields.numberCombination" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.bstNumber1}-{formRequest.bstNumber2}-{formRequest.bstNumber3}
</f:section>

<!-- HTML -->
<f:section name="Html">

        <tr>
            <th style="width:100px" class="align-left">
                <postmaster:email.translate key="partials_bstForm_formFields.numberCombination" languageKey="{language}" extensionName="rkwForm"/>:
            </th>
            <td>
                {formRequest.bstNumber1}-{formRequest.bstNumber2}-{formRequest.bstNumber3}
            </td>
        </tr>

</f:section>
