{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:frontend.translate key="partials_bstForm_formFields.numberCombination" languageKey="{language}" extensionName="rkwForm"/>: {formRequest.bstNumber1}-{formRequest.bstNumber2}-{formRequest.bstNumber3}
</f:section>

<!-- HTML -->
<f:section name="Html">

        <tr>
            <th style="width:100px" class="align-left">
                <rkwMailer:frontend.translate key="partials_bstForm_formFields.numberCombination" languageKey="{language}" extensionName="rkwForm"/>:
            </th>
            <td>
                <a href="{formRequest.verificationUrl}">{formRequest.verificationUrl}</a>
            </td>
        </tr>

</f:section>