<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
		<div class="form__field form-check">

            <f:form.checkbox
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="checkbox {element.properties.elementClassAttribute}"
                value="{element.properties.value}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            />
            <label class="checkbox-label {element.properties.elementClassAttribute} form-check-label" for="{element.uniqueIdentifier}">
                <f:switch expression="{element.properties.type}">
                    <f:case value="terms">
                        <rkwRegistration:privacyText textVersion="xxx" />
                    </f:case>
                    <f:case default="1">
                        <span>{formvh:translateElementProperty(element: element, property: 'label')}</span>
                    </f:case>
                </f:switch>
			</label>
		</div>
	</f:render>
</formvh:renderRenderable>
</html>
