<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"

      data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <div class="form__field">

            <f:form.checkbox
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="checkbox {element.properties.elementClassAttribute}"
                value="{element.properties.value}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            />
            <label class="checkbox-label {element.properties.elementClassAttribute} form-check-label" for="{element.uniqueIdentifier}">
                <f:switch expression="{element.properties.type}">
                    <f:case value="consent">
                        <f:format.raw>
                            <f:variable name="text" value="{formvh:translateElementProperty(element: element, property: 'text')}" />
                            <f:render
                                partial="Text/Consent"
                                arguments="{element: element,
											type: 'Label',
											text: text}" />
                        </f:format.raw>
                    </f:case>
                    <f:case value="terms">
                        <f:format.raw>
                            <f:translate key="templates_viewHelpers_consent_privacy.defaultAlternative.partOne" extensionName="feRegister" arguments="{0: '{element.properties.additionalAttributes.companyName}', 1: '{element.properties.additionalAttributes.companyEmail}'}" />
                            <f:link.page pageUid="{element.properties.additionalAttributes.linkPageUid}" target="_blank">
                                <f:translate key="templates_viewHelpers_consent_privacy.defaultAlternative.partTwo" extensionName="feRegister" />
                            </f:link.page>
                            <f:translate key="templates_viewHelpers_consent_privacy.defaultAlternative.partThree" extensionName="feRegister"/>
                        </f:format.raw>
                    </f:case>
                    <f:case value="aufitgebaut-terms">
                        <f:translate key="tx_rkwform_domain_model_standardform.aufitgebaut.terms.firstPart" extensionName="rkwForm"/>
                        <f:link.page pageUid="{element.properties.additionalAttributes.linkPageUid}" target="_blank">{element.label}</f:link.page>
                        <f:translate key="tx_rkwform_domain_model_standardform.aufitgebaut.terms.thirdPart" extensionName="rkwForm"/>
                    </f:case>
                    <f:case value="eepa-terms">
                        <f:format.raw><f:translate key="tx_rkwform_domain_model_standardform.eepa.terms.firstPart" extensionName="rkwForm" arguments="{0: '{element.properties.additionalAttributes.revokeEmail}'}" /></f:format.raw>
                        <f:translate key="tx_rkwform_domain_model_standardform.eepa.terms.secondPart" extensionName="rkwForm"/>
                        <f:link.page pageUid="{element.properties.additionalAttributes.linkPageUid}" target="_blank">{element.label}</f:link.page>
                        <f:translate key="tx_rkwform_domain_model_standardform.eepa.terms.thirdPart" extensionName="rkwForm"/>
                    </f:case>
                    <f:defaultCase>
                        <span>{formvh:translateElementProperty(element: element, property: 'label')}</span>
                    </f:defaultCase>
                </f:switch>
            </label>
        </div>
    </f:render>
</formvh:renderRenderable>
</html>
