<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
		<div class="form__field form-check">

            <f:form.checkbox
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="checkbox {element.properties.elementClassAttribute}"
                value="{element.properties.value}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            />
            <label class="checkbox-label {element.properties.elementClassAttribute} form-check-label" for="{element.uniqueIdentifier}">
                <f:switch expression="{element.properties.type}">
                    <f:case value="terms">
                        <feRegister:privacyText textVersion="defaultAlternative" />
                    </f:case>
                    <f:case value="gem-terms">
                        Hiermit willige ich ein, dass im Rahmen und für die Dauer des GEM-Projekts meine personenbezogenen Daten wie Anrede, Vorname, Nachname, Titel, Geschlecht, E-Mail-Adresse, Institution/Firma/Gründung, Telefonnummer, Postanschrift (Adresse, PLZ, Ort), Gründungsthemengebiet, ggf. Jahr der freiwilligen Umfrageteilnahme vom RKW Kompetenzzentrum in eine Liste aufgenommen und gespeichert werden und zum Zwecke der Kontaktaufnahme für Einladungen zu Umfragen, GEM-Veranstaltungen sowie Zusendung des GEM-Berichts per Post verwendet werden. Die Daten werden nicht an Dritte weitergegeben. Diese Einwilligung ist freiwillig und die Nichterteilung hat keine negativen Auswirkungen. Diese Einwilligung kann ich jederzeit per Mail an <a href="mailto:widerruf.gruendung@rkw.de" target="_blank">widerruf.gruendung@rkw.de</a> mit Wirkung für die Zukunft widerrufen.
                    </f:case>
                    <f:case value="gem-privacy">
                        Die <f:link.page pageUid="{element.properties.additionalAttributes.linkPageUid}" target="_blank">{element.label}</f:link.page> habe ich gelesen und verstanden.
                    </f:case>
                    <f:case default="1">
                        <span>{formvh:translateElementProperty(element: element, property: 'label')}</span>
                    </f:case>
                </f:switch>
			</label>
		</div>
	</f:render>
</formvh:renderRenderable>
</html>
